* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: #F3EEE8;
}

button,
input[type="submit"]  {
    cursor: pointer;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto; 
}

header {
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    margin-top: 55px;
}

.burger-icon {
    position: relative;
    z-index: 10;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 20px;
    display: none;
}

.burger-icon.active span:nth-child(1){
    transform: rotate(50deg) translateY(10px);
    background-color: #534B42;
}

.burger-icon.active span:nth-child(2){
    transform: rotate(-50deg) translateY(-10px);
    background-color: #534B42;
}

.burger-icon span {
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all .3s;
}

.burger-menu {
    position: fixed;
    width: 100vw;
    height: 0vh;
    left: 0;
    top: 0;
    transition: all .3s;
    overflow: hidden;
    display: flex;
    padding-top: 200px;
    justify-content: center;
    display: none;
}

.burger-menu ul {
    flex-direction: column;
}

.burger-menu.active {
    height: 100vh;
    background-color: #F3EEE8;
}

.logo {
    font-family: 'Merriweather';
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #A06056;
    padding: 10px 0 14px 0;
    margin-right: 32px;
    cursor: pointer;
}

 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 14px 0 10px 0;
    gap: 24px;
}

li {
    color: #706458;
    font-family: 'Varta';
    font-size: 18px;
    line-height: 25px; 
    cursor: pointer;
}

.offer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    pointer-events: none;
}

.offer-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer {
    margin-top: 110px;
    max-width: 1140px;
    width: 100%;
    display: flex;
    gap: 100px;
    height: 900px;
}

.offer-left {
    width: 50%;
    padding-right: 190px;
    z-index: 10;
    height: max-content;
}

.offer-right {
    width: 50%;
    right: 0;
    top: 0;
    height: 100px;
    position: absolute;
}

.offer-label_text {
    color: #A06056;
    font-family: 'Varta';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-transform: uppercase;

}

.offer-title {
    color: #A06056;
    font-family: 'Merriweather';
    font-size: 50px;
    font-weight: 300;
    line-height: 70px; 
    letter-spacing: -0.4px;
    margin-bottom: 30px;
}

.offer-text {
    color: rgba(112, 100, 88, 0.90);
    font-family: 'Varta';
    font-size: 22px;
    font-weight: 300;
    line-height: 30.8px; 
}                       

.offer-left button {
    border: 2px solid #A06056;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 17px;
    border-radius: 50%;
    margin-top: 48px;
}

.find_room-title {
    color: #706458;
    font-family: 'Merriweather';
    font-size: 55px;
    font-weight: 300;
    line-height: 60px; 
    letter-spacing: -0.6px;
    margin-bottom: 48px;
}

.slider {
    width: 100%;
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 48px;
}

.slides {
    display: flex;
    transform: translateX(0px);
    transition: all .3s;
}

.slide {
    width: 458px;
    height: 350px;
    display: flex;
    transition: all .2s;
}

.slide-img {
    width: 280px;
    height: 100%;
    margin-right: 32px;
    position: relative;
}

.slide-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.slide-title {
    color: #A06056;
    font-family: 'Merriweather';
    font-size: 55px;
    font-weight: 400;
    line-height: 60px; 
    letter-spacing: -0.6px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.slider-description {
    width: 165px;
    color: rgba(112, 100, 88, 0.90);
    font-family: 'Varta';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; 
}

.slide .new {
    color: rgba(112, 100, 88, 0.90);
    font-family: 'Varta';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.slider_bottom {
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-column-gap: 30px;
}

.slide_count {
    color: rgba(112, 100, 88, 0.90);
    font-family: 'Varta';
    font-size: 18px;
    line-height: 25px; 
    opacity: 0.5;
}

.slider_controls {
    display: flex;
    gap: 20px;
}

.slider_controls button {
    color:  #A06056;
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.slider_controls button svg {
    margin: 0 16px;
}

.slider_controls .prev svg {
    transform: rotate(180deg);
}

.slider_controls .disabled {
    opacity: .4;
    transition: all .3;
    width: 0;
    visibility: hidden;
    display: none;
}

.side_to_design_title p {
    color: #706458;
    font-family: 'Merriweather';
    font-size: 55px;
    font-weight: 300;
    line-height: 60px; 
    letter-spacing: -0.6px;
    margin-bottom: 34px;
}

.side_to_design {
    margin-top: 135px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.more {
    color: #A06056;
    font-family: 'Karla';
    font-size: 17px;
    font-weight: 700;
    line-height: 25px; 
    letter-spacing: 0.3px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.more svg {
    margin-left: 10px;
}

.service-title {
    color: #A06056;
    font-family: 'Karla';
    font-size: 17px;
    font-weight: 700;
    line-height: 25px; 
    letter-spacing: 0.3px;
    margin-bottom: 12px;
}

.service-descripion {
    color: rgba(112, 100, 88, 0.90);
    font-family: 'Varta';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px; 
}

.side_to_design_title {
    max-width: 458px;
    width: 100%;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.services-item {
    width: 260px;
}

.trends {
    background-color: #fff;
    padding-bottom: 70px;
}
.trends_top {
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}

.trends-title {
    color:#121212;
    font-family: 'Merriweather';
    font-size: 35px;
    font-weight: 300;
    line-height: 40px; 
    letter-spacing: -0.3px;
}

.trends-description {
    color: rgba(112, 100, 88, 0.90);
    font-family: 'Varta';
    font-size: 18px;
    line-height: 25px;
    margin: 15px 0;
}

.trends-right  input {
    height: 50px;
    border-radius: 1px;
    background-color: rgba(243, 238, 232, 0.30);
    border: none;
    outline: none;
}

.trends-right .email {
    color: rgba(112, 100, 88, 0.90);
    padding: 10px 15px;
    font-family: 'Varta';
    font-size: 18px;
    line-height: 25px;
    max-width: 250px;
}

.trends-right .btn {
    background-color: #534B42;
    color: #fff;
    font-family: 'Karla';
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    padding: 8px 30px;
    margin-left: 15px;
}

.trends_slider-container {
    margin-top: 100px;
}

.trends .more {
    display: flex;
    align-items: center;
}

.trends .more svg {
    margin-left: 7px;
}

.trends .slider-absolute {
    display: flex;
    gap: 30px;
}

.trends .slide {
    width: 458px;
    height: 550px;
}

.trends .slider_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.trends .inspirations-title {
    color:  #534B42;
    font-family: 'Merriweather';
    font-size: 45px;
    font-weight: 300;
    line-height: 40px; 
    letter-spacing: -0.3px;
}

.trends .inspirations-description {
    color: #706458;
    font-family: 'Varta';
    font-size: 18px;
    line-height: 25px;
}

.trends .slider_bottom {
    margin-top: 50px;
}

.trends .slider_bottom .slider_controls {
    gap: 10px;
    margin-bottom: 20px;
}

.trends .slider_bottom .slider_controls button{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #A06056;
}

.trends .slider_bottom-right {
    justify-self: end;
}

footer {
    margin-top: 100px;
    padding-bottom: 64px;
}

footer .logo {
    color: #534B42;
}

.footer-col-title {
    color: #534B42;
    font-family: 'Varta';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
}

footer a {
    text-decoration: none;
    color: #706458;
    font-family: 'Varta';
    font-size: 18px;
    line-height: 25px;
    transition: all .3s;
}

footer a:hover {
    color: #ac9a88;
}

footer .more {
    color: #A06056;
    font-family: 'Karla';
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    display: flex !important;
    align-items: center;
}

footer .more svg {
    margin-left: 10px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(5,154px) 250px;
    grid-column-gap: 28px;
}
footer .col a{
    display: grid;
    margin-bottom: 10px;
}
footer .blog-title {
    color: #534B42;
    font-family: 'Varta';
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 8px;
}

footer .blog-description {
    color: #706458;
    font-family: 'Varta';
    font-size: 16px;
    line-height: 25px; 
    margin-top: 9px;
    margin-bottom: 15px;
}

.footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80px;
    margin-top: 48px;
}

footer .company-info {
    justify-self: start;
    align-self: end;
}

footer .icons {
    display: grid;
    height: 32px;
    grid-template-columns: repeat(4, 32px);
    grid-column-gap: 24px;
}

footer .icons div {
    transition: all .3s;
}

footer .icons img {
    width: 100%;
    height: 100%;
}

footer .icons div:hover {
    opacity: 0.8;
    cursor: pointer;
}

footer ul {
    justify-self: end;
    align-self: end;
}

@media screen and (max-width: 1170px) {
    .container {
        max-width: 940px;
    }
    .nav ul {
        gap: 12px;

    }

    .offer-label_text {
        font-size: 12px;
    }

    .offer-title,
    .side_to_design_title p,
    .find_room-title {
        font-size: 45px;
    }

    .offer-text {
        font-size: 17px;
    }

    .slider-description,
    .slide .new,
    .nav li,
    .trends-description,
    .service-descripion,
    .trends-right .btn,
    .trends .inspirations-description,
    footer .col a {
        font-size: 16px;
    }

    .next,
    .prev {
        font-size: 18px;
    }

    a.more {
        font-size: 15px;
    }

    .trends-title {
        font-size: 30px;
    }

    .trends .inspirations-title {
        font-size: 35px;
    }

    .trends-right .email {
        font-size: 14px;
    }

    .footer-top {
        grid-template-columns: repeat(5,130px) 250px;
        grid-column-gap: 9px;
    }

    footer .company-info,
    footer ul li {
        font-size: 14px;
    }

    footer .icons div{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 980px) {

    .container {
        max-width: 740px;
    }

    .offer-title,
    .side_to_design_title p,
    .find_room-title,
    .trends-title,
    .trends .inspirations-title {
        font-size: 25px;
        line-height: 40px;
    }

    .slider-description,
    .slide .new,
    .nav li,
    .trends-description,
    .service-descripion,
    .trends-right .btn,
    .trends .inspirations-description,
    footer .col a {
        font-size: 14px;
    }

    .trends .slide {
        width: 320px;
        height: 250px;
    }

    .next,
    .next p
    .prev,
    .prev p {
        font-size: 14px !important;
    }

    .services {
        grid-gap: 5px;
    }

    .offer-right {
        width: 45%;
    }

    footer .blog-title {
        font-size: 15px;
    }

    .blog {
        width: 250px;
        grid-column: 4 / 5;
    }

    footer .blog-description {
        font-size: 12px;
        line-height: 16px;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 520px;
    }

    .burger-icon,
    .burger-menu {
        display: flex;
    }

    .nav {
        display: none;
    }

    .header {
        position: relative;
        z-index: 20;
        justify-content: space-between;
        width: 100%;
    }

    .header .logo {
        color: #fff;
    }

    .offer-left {
        width: 325px;
        text-align: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .offer-right {
        width: 100vw ;
    }

    .offer-img::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 8;
        background-color: #706458;
        opacity: 0.2;
    }


    .offer p {
        color: #F7F8F9;
    }

    .offer-label_text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }

    .offer-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        width: 300px;
    }

    .offer-title {
        font-weight: 100;
        color: #fff;
        letter-spacing: -.3px;
    }

    .offer button {
        border-color: #fff;
    }

    .offer button svg path{
        fill: #fff;
    }

    .offer-title,
    .side_to_design_title p,
    .find_room-title,
    .trends-title,
    .trends .inspirations-title {
        font-size: 35px;
        line-height: 40px;
    }


    .slider-description {
        grid-column: 1/3;
        max-width: 320px;
        width: 100%;
    }

    .find_room .slider  {
        grid-template-columns:  inherit;
    }

    .find_room .slider_bottom {
        grid-template-columns: 1fr 1fr;
        grid-row: 3/3;
        grid-column: 1/3;
    }


    .find_room .slider_bottom {
        display: flex;
        justify-content: space-between;
    }

    .find_room .slide_count {
        order: 2;
    }

    .side_to_design {
        flex-direction: column;
    }


    .side_to_design .services {
        grid-template-rows: 1fr;
        grid-template-columns: inherit;
        grid-row-gap: 40px;
    }

    .side_to_design .services-item {
        width: 100%;
    }
    
    .trends_top {
        height: auto;
        flex-direction: column;
    }

    .trends-right {
        width: 100%;
        flex-direction: column;
    }

    .trends-right .email,
    .trends-right .btn {
        max-width: 100%;
        width: 100%;
    }

    .trends-right .btn {
        margin-left: 0;
        margin-top: 15px;
    }

    .trends_slider-container {
        display: flex;
        flex-direction: column;
    }

    .trends .slider-absolute {
        order: 2;
    }

    .trends .slider_bottom {
        grid-template-columns: inherit;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .trends .slider_bottom-right {
        justify-self: start;
        margin-bottom: 10px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
    }

    .footer-top .logo {
        width: 100%;
        text-align: center;
    }

    .footer-top .footer-col-title {
        font-size: 25px;
    }

    .footer-top .col {
        margin-bottom: 40px;
    }

    .footer-top .blog {
        width: 100%;
    }

    .footer-top .blog img {
        width: 100%;
    }

    .footer-top .blog-description {
        font-size: 18px;
        line-height: 25px;
    }

    .footer-bottom {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: inherit;
    }

    .footer-bottom .company-info {
        grid-row: 3/4;
    }

    .footer-bottom .icons {
        grid-row: 1/2;
        justify-self: center;
    }

    .footer-bottom ul {
        grid-row: 2/3;
        justify-self: start;
    }

}

@media screen and (max-width: 520px) {
    .container {
        max-width: 420px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 440px) {
    .slide-title {
        left: 20%;
    }
    .container {
        max-width: 320px;
    }
}
